
.box{
    background-color: #022d36;
    width: 50%;
    text-align: center;
    margin: auto;
    position: relative;
    border-radius: 25px;
    top: 50%;
    
}
.box:hover{
    background-color: #02252c;
}
input{
    font-size: smaller;
    height: 30px;
    width: 400px;
    border-radius: 25px;
    color: aquamarine;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    border-color: rgb(58, 102, 247);
    border-width: 1px; 
    text-align: center;
}

input::placeholder
{
    color: #a4a7b1;
    font-size: smaller;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
#ko
{
    font-size:smaller;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 25px;
    height: 25px;
    width: 90px;
    background-color: #000000;
    color: aliceblue;
    border-color: rgb(58, 102, 247);
    border-width: 1px;
}
#imagebox{

    border-radius: 25px;
    align-self: flex-start;
    float: left;
    height: 225px;
    margin: 15px;

}
#doc
{  display: grid;
    grid-template-columns: 30% 50% 20%;
    width: 750px;
    height: 350px;
   margin:auto;
    border-radius: 30px;
    background-color: #1440d2;
    box-shadow:  1em 1em 0.6cm gold;
    border: 2px solid gold;

    
}
#boom{
    background-color: rgba(240, 248, 255, 0);
   
    width: 90%;
    border-radius: 30px;
    
   
    
    padding: 1%;
    
}

#digsig-cont
{
  display: flex;
  align-items: flex-end;
  align-self: right;
  float: right;
   


}
#id-details
{
    color: aliceblue;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
}
h3,#blood-grp{
    
    color: antiquewhite;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}
.iddet-head
{
    
    text-shadow: 0 0 2px #ff0000;
}

